log.exe
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lzo
node_modules
collaboration-project/node_modules
dist
coverage
*.log
*.pid
*.seed
*.pid.lock
*.swp
*.swo
*.bak
*.tmp
*.temp
*.cache
*.DS_Store
*.vscode
*.idea
*.sublime-workspace
*.sublime-project
*.vscode-test
*.vscode-remote
*.vscode-server
*.vscode-remote-data
*.vscode-remote-lock                